{{- $isExternal := hasPrefix .Destination "http" -}}
{{- $target := "" -}}
{{- if and (not $isExternal) (hasPrefix .Destination "/") }}{{ with site.GetPage .Destination }}{{ if .Description }}{{ $target = . }}{{ end }}{{ end }}{{ end -}}
<a href="{{ .Destination | safeURL }}"
  {{- if $isExternal }} target="_blank" rel="noopener noreferrer"{{ end -}}
  {{- with .Title }} title="{{ . }}"{{ end -}}
  {{- with $target }} data-concept-title="{{ .Title }}" data-concept-desc="{{ .Description }}"{{ end -}}
>{{ .Text | safeHTML }}</a>
